# 1) Default registry for all un-scoped modules (Angular, RxJS, etc.)
registry=https://registry.npmjs.org/

# 2) GitHub Packages for your scoped client
@birthstonesdevops:registry=https://npm.pkg.github.com/

# 3) Authenticate to GitHub Packages using your PAT in GH_PKG_TOKEN
//npm.pkg.github.com/:_authToken=${GH_PKG_TOKEN}